/*Стартовое модальное окно*/
.modal_start {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background: #020024;
    background: -webkit-gradient(linear, left top, left bottom, from(#020024), color-stop(0%, black), color-stop(52%, #13004e));
    background: linear-gradient(180deg, #020024 0%, black 0%, #13004e 52%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 10;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }
  
  .modal_start.noactive {
    opacity: 0;
    visibility: hidden;
  }
  
  h1 {
    font-size: 32px;
    margin: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin: 10px;
  }
  
  .textarea1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #1237;
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 0 5px 0 5px;
    -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    background-color: #efd3ff;
    margin: 10px;
  }
  .textarea1:focus {
    border: 3px solid #13004e;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 5px #ffffff;
            box-shadow: 0px 0px 10px 5px #ffffff;
  }
  
  .button_next1_start {
    display: inline-block;
    border: 3px solid #1237;
    background-color: #efd3ff;
    height: 30px;
    width: 150px;
    margin: 10px;
    color: black;
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  }
  .button_next1_start:hover {
    border: 3px solid #13004e;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 5px #ffffff;
            box-shadow: 0px 0px 10px 5px #ffffff;
  }
  .button_next1_start:active {
    border: 3px solid #ffffff;
    background-color: #1237;
    color: #ffffff;
  }